/*header section*/
.menu{
    height: 90px;
    background-color: black;
}
.side-menu1{
    padding-top: 10px;
    text-align: center;
    color: white;

}
.side-menu2{
    padding-top: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}
.side-menu2 a{
    text-decoration: none;
    padding-left: 40px;
    color: white;
    font-size: 15px;
}
.side-menu2 a:hover{
    color: rgb(65, 194, 211);
    font-size: 18px;  
    transition:max-width ease .3s;

}
.line{
    width:40px;
    height:3px;
    background-color:#fff;
    margin-left: 245px;
    margin-top: 15px;

}
.side-menu2 a:nth-child(2):hover ~ .line{
    transform:translate(90px);
    width:60px;
}
.side-menu2 a:nth-child(3):hover ~ .line{
    transform:translate(190px);
    width:60px;
}
.side-menu2 a:nth-child(4):hover ~ .line{
    transform:translate(290px);
    width:60px;
}
.welcome{
    height: 400px;
    background-color: cadetblue;
}
.intro1{
    float: left;
    text-align: center;
    margin-top: 100px;;
}

.intro1 p{
    font-size: 30px;
    
  }
  
 .intro1 p::after{
    content: " I am a Web Developper";
    animation: textanim 10s linear infinite;
  }
  
  @keyframes textanim{
    25%{
      content: " and a Web Designer";
    }
   
    
  }
  
.intro2{
    float: right;
    margin: 100px;
    
}
.intro2 img{
    border-radius: 50%;
       
}