/*header section*/
.menu{
    height: 90px;
    background-color: black;
}
.side-menu1{
    padding-top: 10px;
    text-align: center;
    color: white;

}
.side-menu2{
    padding-top: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}
.side-menu2 a{
    text-decoration: none;
    padding-left: 40px;
    color: white;
    font-size: 15px;
}
.side-menu2 a:hover{
    color: rgb(65, 194, 211);
    font-size: 18px;  
    transition:max-width ease .3s;

}
.line{
    width:40px;
    height:3px;
    background-color:#fff;
    margin-left: 245px;
    margin-top: 15px;

}
.side-menu2 a:nth-child(2):hover ~ .line{
    transform:translate(90px);
    width:60px;
}
.side-menu2 a:nth-child(3):hover ~ .line{
    transform:translate(190px);
    width:60px;
}
.side-menu2 a:nth-child(4):hover ~ .line{
    transform:translate(290px);
    width:60px;
}
.welcome{
    height: 400px;
    background-color: cadetblue;
}
.intro1{
    float: left;
    text-align: center;
    margin-top: 100px;;
}

.intro1 p{
    font-size: 30px;
    
  }
  
 .intro1 p::after{
    content: " I am a Web Developper";
    animation: textanim 10s linear infinite;
  }
  
  @keyframes textanim{
    25%{
      content: " and a Web Designer";
    }
   
    
  }
  
.intro2{
    float: right;
    margin: 100px;
    
}
.intro2 img{
    border-radius: 50%;
       
}
/*services section*/

hr{
    background-color:rgb(3, 14, 12);
    height:3px;
}
.service-intro{
    padding:30px;
}
.service-intro h3{
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 30px;
}
.service-intro h1{
    padding-bottom: 30px;
}
.line2{
    width:100px;
    height:3px;
    background-color:rgb(6, 28, 59);
    margin-bottom: 15px;

}
.service1{
    padding-left: 150px;
    padding-bottom: 30px;
}
.service2{
    padding-left: 50px;
}
.service3{
    padding-left: 300px;
}
.sechover h1:hover , .sechover.line:hover{
    color:rgb(0, 255, 242);
    font-weight: bold;
}
.sechover .line2:hover{
    width:160px;

}
.card1{
    width: 30rem;
}
.card2{
    width: 30rem;
}
.card3{
    width: 40rem;
}
.card1 img:hover{
    transform:scale(1.05);
	box-shadow:0 0 40px -10px rgba(0,0,0,0.24);
}
.card2 img:hover{
    transform:scale(1.05);
	box-shadow:0 0 40px -10px rgba(0,0,0,0.24);
}
.card3 img:hover{
    transform:scale(1.05);
	box-shadow:0 0 40px -10px rgba(0,0,0,0.24);
}

/*About me section*/
.profile{
    padding-left: 200px;
}
.profile img{
    border-radius: 50%;
    width: 400px;
}
.sl {
    border-left: 6px solid  rgb(11, 98, 133);
    height: 200px;    
    left: 50%;
    margin-left: -3px;
    top: 0;
  }
.form{  
    width:400px;
    border:2px solid black;
    border-radius: 2px;
    padding: 30px;
    align-content: center;
    margin-left: 400px;
    background-color: black;
}
.labels{
    color:white;
}
.jumbotron {
    background-color: rgb(2, 20, 27);
}
.jumbotron p{
    color:white;
    padding:30px;
    font-size: 20px;
}

/*footer*/
footer{
    height: 200px;
    background-color: black;
    margin-top: -35px;

}
.message{
    padding-left: 50px;
    padding-top:50px;
}
.messageh{
    color: white;
}
.messagep{
    color: white;
}

.contact-media{
    padding-top:50px;
    display: flex;
    flex-direction: column;
    color: white;
   

}
.contact-media a{
    padding-left:60px;
    color: white;
    display: inline;
    
}
.but a{
    color:white;
    text-decoration: none;;
}

/*Media queries*/
@media screen and (max-width:1200px){
    .line{
        width:40px;
        height:3px;
        margin-left: 150px;
        margin-top: 15px;
    
    }
    /*services section*/
    .service1{
        padding-left: 25px;
        padding-bottom: 30px;
    }
    .service2{
        padding-left: 20px;
    }
    .service3{
        padding-left: 200px;
    }
    /*About me section*/
    .profile{
        padding-left: 100px;
    }
    .profile-s{
        font-size:20px;
    }
    /*contact me section*/
    .form{
        margin-left:250px;
    }
    
}
@media screen and (max-width:800px){
    .menu{
        height: 100px;     
        padding-bottom: 20px;
    }
    .line{
        width:40px;
        height:3px;
        margin-left: 60px;
        margin-top: 15px;
    
    }
    /*services section*/
    .card1{
        width: 20rem;
    }
    .card2{
        width: 20rem;
    }
    .service1{
        padding-left: 35px;
       
    }
    .service3{
        padding-left: 70px;
    }

    /*about me section*/
    .profile{
        padding-left: 50px;
        padding-top:70px;
    }
    .profile-s{
        font-size:20px;
    }
    .profile img{
        width: 300px;
    }
    /*contact me section*/
    .form{
        margin-left:150px;
    }
    /**/
    
}
@media screen and (max-width:480px){
    
}

@media screen and (max-width:500px){
    .menu{
        height: 100px;
        background-color: black;      
        padding-bottom: 20px;;
    }
    .side-menu2{
        padding-top: 3px;
        padding-right: 40px;
       
        
    }
    .side-menu2 a{
        padding-left: 10px;
        
    }
    .line{
        margin-left: 20px;
        margin-top: -20px;
    }
    .welcome{
        
       
    }
    footer{
        height: 300px;
       
    
    }

}

@media screen and (max-width:400px){
    .line{
        margin-left: 20px;
        margin-top: 15px;
    }

    .side-menu2 a:hover{
        font-size: 14px;  
        transition:max-width ease .3s;
    
    }
    .side-menu2 a:nth-child(2):hover ~ .line{
        transform:translate(70px);
        width:35px;
    }
    .side-menu2 a:nth-child(3):hover ~ .line{
        transform:translate(140px);
        width:35px;
    }
    .side-menu2 a:nth-child(4):hover ~ .line{
        transform:translate(220px);
        width:35px;
    }
    /*services section*/
    .card3 {
        width:20rem;
    }
    .service3{
        padding-left:30px;
    }
    .service2{
        padding-left:30px;
    }
    .profile-s{
        font-size: 15px;
        
    }
    .form{
        padding-left:2px;
        padding-right:2px;
        margin-left:10px;
        width:300px;
    }
    /* footer*/
    footer{
        height:400px;
    }
    .contact-media{
        padding-left:70px; 
        
    }
    .contact-media a{
        padding-left:90px;    
    }
    
}
@media screen and (max-width:450px){
    .line{
        margin-left: 50px;
        margin-top: 10px;
    }
    .side-menu2 a:nth-child(2):hover ~ .line{
        transform:translate(80px);
        width:35px;
    }
    .side-menu2 a:nth-child(3):hover ~ .line{
        transform:translate(140px);
        width:35px;
    }
    .side-menu2 a:nth-child(4):hover ~ .line{
        transform:translate(200px);
        width:35px;
    }
    /*about*/
    .profile-s{
        font-size: 16px;
    }
    /*services*/
    .card3{
        width:20rem
    }
    .service1{
        padding-left: 60px;
    }
    .service2{
        padding-left:60px;
    }
    .service3{
        padding-left:60px;
        padding-top: 10px;
    }
    .form{
        width:300px;
        margin-left:50px;
    }
    /*footer*/
    footer{
        height:500px;
    }
    
    .contact-media{
        padding-left:70px; 
        
    }
    .contact-media a{
        padding-left:90px;    
    }
}

@media screen and (max-width:360px){

}
@media screen and (max-width:0px){
    
}
@media screen and (max-width:450px){
    
}


